* {
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
}

body{
    background-color: grey;
    margin: 1%;
    padding: 0;
    font-size: 18px;
    font-size: 1em;
    font-family: arial, "arial thin", sans-serif;
    text-align: center;
    margin-left: .5%;
    margin-right: .5%;
    height: auto;
    width: auto;
}

#wrapper{
    background-color: royalblue;
    width: 100%;
    float: none;
    clear: right;
}

#page-search{
    text-align: right;
    padding: 0%;
    background-color: royalblue;
    border: 2px groove black;
    position: relative;
    float: right;
    right: 0em;
    width: 5%;
    list-style: none;
}

#logo{
    text-align: left;
    padding: 0%;
    position: relative;
    float: left;
    left: -1.2em;
    width: 120%;
    list-style: none;
}

#menu{
    padding: 6%;
    background-color: royalblue;
    border: 2px groove black;
    position: relative;
    top: auto;
    vertical-align: top;
    bottom: 1em;
    float: left;
    width: 48%;
    list-style: none;
    font-size: 12px;
}

#name{
    padding: 6%;
    background-color: royalblue;
    border: 2px groove black;
    position: relative;
    top: auto;
    bottom: 1em;
    vertical-align: top;
    float: right;
    width: 48%;
    list-style: none;
    font-size: 12px;
}

#city-date{
    padding: 0%;
    background-color: royalblue;
    border: 2px groove black;
    position: static;
    float: left;
    width: 100%;
    list-style: none;
}

#page-search{
    padding: 10%;
    background-color: royalblue;
    border: 2px groove black;

    width: 100%;
    list-style: none;
}

#current {
    padding: 0%;
    background-color: royalblue;
    border: 2px groove black;
    position: static;
    float: left;
    height: 280px !important;
    width: 135px !important;
    list-style: none;
    text-align: center;
    vertical-align: 0;
    line-height: 20px;
}

#hi{
    padding: 0%;
    background-color: royalblue;
    border: 2px groove black;
    position: relative;
    top: auto;
    vertical-align: top;
    float: right;
    height: 120px !important;
    width: 100px !important;
    text-align: center;
    vertical-align: 0;
    list-style: none;
}

#lo{
    padding: 0%;
    background-color: royalblue;
    border: 2px groove black;
    position: relative;
    top: 6px;
    vertical-align: bottom;
    float: right;
    clear: right;
    height: 120px !important;
    width: 100px !important;
    text-align: center;
    vertical-align: 0;
    list-style: none;
}

#advertisement,#hourly-weather {
    background-color: royalblue;
    border: 2px groove black;
    position: static;
    float: right;
    width: 100%;
    list-style: none;
    text-align: center;
    vertical-align: top;

}
